

/* ==========================================================================
   YOUTH RADIO FONTS
   ========================================================================== */

@font-face {
    font-family: 'proxima_nova_altXBdIt';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold_italic-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold_italic-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold_italic-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold_italic-webfont.svg#proxima_nova_altXBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_altextrabold';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.svg#proxima_nova_altextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_regit';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular_italic-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular_italic-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular_italic-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular_italic-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular_italic-webfont.svg#proxima_nova_altextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_reg';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.svg#proxima_nova_altextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
  height: 100%;
}

h1, h2, h3, h4 {
  color: white;
  font-family: 'proxima_nova_altextrabold', Arial, sans-serif;
}
a{
  color:#888888;
}

a:hover{
  color:#444444;
}
strong{
  font-family: 'proxima_nova_altextrabold', Arial, sans-serif;
}
p{
  font-family: 'proxima_nova_reg', Arial, sans-serif;
  color: black;
  font-size: 20px;
  margin: 0 0 20px;
}

footer{
  text-align: center;
  font-style: italic;
  padding: 50px;
}

footer p{
  font-size: 15px;
}
figure{
  margin: 10px;
}
figcaption{
    font-style: italic;
    font-size: 15px;
}

figcaption.top-img{
  background-color: white;
  margin-left: 10px;
  text-align: center;
}

header{
  background-color: #273643;
  min-width: 100%;
  display: inline-block;
  position: relative;
}

header:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.blockquote{
  margin-top: 80px;
}
.blockquote p{
  font-family: 'proxima_nova_regit', Arial, sans-serif;
  font-size: 25px;
  color: black;
}

.blockquote span{
  color:#888888;
  font-size: 20px;
}
#main-el{
    background-image: url("../img/photoA.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #273643;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
     transition: opacity 2s ease-in;
}


#main-el.load{
  opacity: 1;
}

.headline{
  position: absolute;
  bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.mobile-headline{
  padding: 0 5%;
}
.mobile-headline h1, .mobile-headline h3{
  color: black;
}
.main-content{
  background-color: white;
}

.soc-media{
  max-width: 440px!important;
}

.section{
  max-width: 680px;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.section.lrg{
  max-width: 1280px;
}


.section.media-sequence{
  max-width: 100%;
  position: relative;
}

.media-title{
  position: absolute;
  z-index: 4;
  width: 32%;
  bottom: 50px;
  right: 40px;
  font-size: 150px;
}

.media-title h1{
  line-height: 56px;
}

.media-title-first{
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
   transition: opacity 2s ease-in;
}

.media-title-sec{
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
   transition: opacity 2s ease-in;
}


.media-title-first.load{
  opacity: 1;
}

.media-title-sec.load{
  opacity: 1;
}

h1#article-title{
  font-size: 150px;
}

h2#article-sub{
  margin-top: -20px;
  margin-left: 20px;
}

p#article-byline{
  color: white;
}

.graphics{
  text-align: center;
}
.graphics figure img{
  width: 60%;
  border: 4px black solid;
}


.media-container video, .media-container img{
  width: 100%;
}


.media{
  min-height: 100%;
}

#videoBg {
  background-image: url("img/unlockedVid.jpg");
  background-size: cover;
  position: relative;
  min-width: 100%;
  display: inline-block;
}

#videoBg:after {
  padding-top: 53.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

@media (max-width: 992px) {
  .blockquote{
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mob-padding{
    padding-left: 20px;
    padding-right: 20px;
  }
  .graphics figure img{
      width: 100%;
  }
  .soc-media{
    padding: 0 20px;
  }
}

